table{
    width: 100px;
    border: 1px solid #000000;
    text-align: center;
}

td:nth-child(odd){
    display: block;
    background-color: aliceblue;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    box-shadow: 3px 3px #c0c0c0;
    border: 1px solid #b6afaf;
}

td:nth-child(even){
    background-color: rgb(227, 236, 244);
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 3px #c59e9e;
    padding: 15px;
    border: 1px solid #b6afaf;
}